.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__links {
    
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding: 10px;
}
.navigation__link {
    text-decoration: none;
    color: black;
    font-weight: 100;
    padding: 5px 10px;
    font-size: 20px;
}
.active {
    border:1px solid rgb(135, 4, 4);
    
}
.navigation__todoNumber{
    font-weight: 100;
    font-size: 20px;
}
.navigation__clearBtn{
    border:none;
    background: none;
    font-family: 'Segoe UI';
    font-weight: 100;
    font-size: 20px;
    cursor: pointer;
}